* {
  margin: 0;
  padding: 0;
}

a,
li,
button,
input {
  list-style: none;
  text-decoration: none;
  border: none;
}

@import "./common/common.scss";
// @import "~video-react/styles/scss/video-react";

// Syne
@font-face {
  font-family: "Syne";
  src: url("./../static/fonts/Syne/Syne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("./../static/fonts/Syne/Syne-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("./../static/fonts/Syne/Syne-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("./../static/fonts/Syne/Syne-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("./../static/fonts/Syne/Syne-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Poppins
@font-face {
  font-family: "Poppins";
  src: url("./../static/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./../static/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./../static/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./../static/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./../static/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Montserrat
@font-face {
  font-family: "Montserrat";
  src: url("./../static/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../static/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../static/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../static/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../static/fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Syne", "Montserrat", "Poppins";
  background-image: url("./assets/Backgroundnoise.png");
}